@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("http://fonts.cdnfonts.com/css/ananda-2");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffffd8;
  text-align: center;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: max-content;
  gap: 60px;
}

/*************************************************/
nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: #000000d4;
  box-shadow: #ff730098 -1px -1px 4px;
}
nav .logo {
  font-family: "Ananda", sans-serif;
  font-family: "Ananda Black", sans-serif;
  font-size: 63px;
  color: #040404;
  text-shadow: -1px 1px 5px #ff0000;
  scale: 1.1;
  user-select: none;
}
nav ul {
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
}
nav ul li {
  padding: 20px min(30px, 5%);
  border-bottom: solid 2px #ffffff00;
  text-shadow: 0px 0px 2px #ffffff;
  transition: ease-in-out 200ms;
}
li:hover {
  transform: translateY(-5px);
}
a {
  text-decoration: none;
  color: inherit;
}

/**************** main ****************/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.main {
  background-color: #00000099;
  font-size: 20px;
  box-shadow: #eb000075 0px 0px 10px;
  padding: 30px;
  width: min(700px, 80%);
  min-height: 600px;
}

/**************** presentation ****************/
.presentation-card {
  width: 100%;
  transition: ease-in-out 500ms;
  animation: fadeIn 1.5s;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: max(330px, 5%);
}
.presentation-card div {
  padding: 10px;
}
.presentation-card .text p {
  padding: 5px;
}
.call-to-action p {
  font-size: 26px;
  color: #ffffff;
}
/********************** footer **************************/
footer {
  width: 100%;
  margin-top: auto;
  padding: 25px;
  font-weight: bold;
  background-color: #000000d4;
  box-shadow: #ff730098 1px 1px 4px;
}

/********************** menu **************************/
.menu-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.6fr));
  gap: 50px;
  justify-content: center;
  transition: ease-in-out 500ms;
  animation: fadeIn 1.5s;
}
.card {
  padding: 15px;
  background-color: #000000af;
  cursor: pointer;
  box-shadow: #00000059 0px 5px 15px;
}
.card:hover {
  background-color: #63636366;
  transition: ease-in-out 250ms;
}
.card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 80px;
}
.card img {
  width: 24%;
}
/*********************** contact ***************************/
.contact-card {
  text-align: left;
  transition: ease-in-out 500ms;
  animation: fadeIn 1.5s;
}
.phone,
.location,
.location-img {
  padding: 15px 0;
  cursor: default;
}
.location-img {
  width: 100%;
  cursor: pointer;
}
.location-img img {
  width: 100%;
}
/*********************** media query ***************************/
@media only screen and (max-width: 498px) {
  .main {
    width: 100%;
  }
  .presentation-card img {
    width: 280px;
  }
}
